<div class="card-navbar">
    <a href="{{ path("card-deck") }}">Deck</a>
    <a href="{{ path("card-deck-shuffle") }}">Shuffle</a>
    <a href="{{ path("card-deck-draw") }}">Draw</a>
    <a href="{{ draw5 }}">Draw 5</a>
    <a href="{{ draw2Player3Cards }}">Draw 3 for 2 players</a>
    <a href="{{ path("card-deck-2") }}">deck2</a>
</div>